
body {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #FFF7E2;
}

.bg-gradient {


}


/*======HEADER STUFF==========*/
.collapse {
  float: right;
}

.header-login-btn, .header-signup-btn {
  border: 0;
  background-color: transparent;
}

.header-login-btn:hover, .header-signup-btn:hover {
  color: #4e5763;
}

.navbar {
  border: 0px;
  background-color: #AAD049;
  padding-bottom: 10px;

}

.navbar-brand {
  font-size: 2.4em;
  text-align: center;
  bottom-padding: 0;
}

a, navbar {
  color: #B52417;
  text-decoration: none;
}

#cowboy {
  width: 155px;

}



/*======BANNER STUFF==========*/
#home-banner {
  height:600px;
  z-index: 1;
}

/*#bg-gradient {
  position: absolute;
    top: 0;
    left: 0;
    margin-left: -75px;
    right: 0;
    bottom: 0;
    z-index: 1;
  background-image: linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 65%);
}*/


.banner-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*padding-top: 100px;*/
  /*background-image: linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 65%);*/

}



.toggle-image {
  position: absolute;
  width: 100%;
  top: 70;
  left: 0;
  height: 600px;
  transition: opacity 1s ease-in-out;

  /*padding-top: 100px;*/
}




/* banner bg images for transition */
.bg-horoscope{
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0.1))), url("../images/taco-holder3.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -4;
  opacity: 0;

}

.bg-taco-sweeper{
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0.1))), url("../images/taco-holder4.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  z-index: -3;
  opacity: 0;
}

.bg-pacman {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0.1))), url("../images/taco-holder2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  z-index: -2;
  opacity: 0;
}

.bg-tacowars {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0.1))), url("../images/taco-holder1.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  z-index: -1;
  opacity: 0;
}

.bg-gradient {
}


.bg-horoscope.show {
  opacity: 1;
}

.bg-taco-sweeper.show {
  opacity: 1;
}

.bg-pacman.show {
  opacity: 1;
}

.bg-tacowars.show {
  opacity: 1;
}

/*background-image: linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 65%);*/






#banner-col {
  height: 425px;
  margin-top: 150px;
}

.banner-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: opacity 2.5s ease-in-out;
  text-align: left;
  padding-left: 12px;
}

.horoscope-text {
  z-index: -4;
  opacity: 0;
}

.taco-sweeper-text {
  z-index: -3;
  opacity: 0;
}

.pacman-text {
  z-index: -2;
  opacity: 0;
}

.tacowars-text {
  z-index: -1;
  opacity: 0;
}

.horoscope-text.show {
  opacity: 1;
}

.taco-sweeper-text.show {
  opacity: 1;
}

.pacman-text.show {
  opacity:1;
}

.tacowars-text.show {
  opacity: 1;
}


.white-text {
  color: #FFF7E2;
  margin-bottom: 10px;
}

.subheader-text {
  font-size: 20px;
  margin-bottom: 15px;
}


.banner-btn {
  color: #FFF7E2;
  /*font-weight: bold;*/
  font-size: 24px;
  background-color: rgba(1,1,1,0.1);
  /*display: inline-block;*/
  min-width: 140px;
  margin-bottom: 10px;
  margin-right: 15px;
  border-width: 2px;
  border-radius: 5px;
  text-shadow: 0 -1px transparent;
  padding: 10px 15px;
  border-color: #B52417;
}

.banner-btn:hover {
  background-color: rgba(1,1,1,0.3);
  border-color: #AAD049;
  color: #FFF7E2;
}

/*======Game-1 TacoSweeper==========*/

#game1 {
  margin-top:60px;
  margin-bottom: 40px;
  height: 200px;
  /*background-color: #FFE296;*/
  /*margin: auto;*/
}





/*======SHOWCASE STUFF==========*/

@import "compass/css3";

#showcase {
  margin-top: 60px;
  margin-bottom: 80px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #AAD049;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  border: 8px solid #B52417;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


/*======FOOTER STUFF==========*/
.custom-footer {
  width: 100%;
  height: 30px;
  /*position: bottom-fixed;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -80px;
  /*bottom:0;*/
  /*left: 0;*/
    vertical-align: baseline;
  background: #FF921C;
}
