
<div ui-view="currentgame"></div>

<section id="showcase">
  <div class = "container">
    <h2 class="showcase-title" show-overlay>La Vida Taquera.</h2>

    <ul class="flex-container">
      <a ui-sref="game1" ng-click="GamesFactory.showmeSweeper=true" color-bg><li class="flex-item" >Trump Sweeper</li></a>
      <a ui-sref="game2home" ng-click="GamesFactory.showmeWars=true" space-bg><li class="flex-item">Taco Wars</li></a>
      <a href="https://www.reddit.com/r/tacos"><li class="flex-item">r/tacos</li></a>
      <a href="http://www.yelp.com/search?find_desc=tacos&find_loc=Portland,+OR&start=0&sortby=rating"><li class="flex-item">Where to Eat</li></a>
    </ul>
  </div>
</section>
