
<div ui-view="currentgame"></div>

<section id="showcase">
  <div class = "container">
    <h2 class="showcase-title" show-overlay>La Vida Taquera.</h2>

    <ul class="flex-container">
      <a ui-sref="game1" ng-click="GamesFactory.showmeSweeper=true" color-bg><li class="flex-item" >Taco Sweeper</li></a>
      <a ui-sref="game2home" ng-click="GamesFactory.showmeWars=true" space-bg><li class="flex-item">Taco Wars</li></a>
      <li class="flex-item">Taco Cowboy</li>
      <li class="flex-item">r/tacos</li>
      <li class="flex-item">Where to Eat</li>
      <li class="flex-item">About us.</li>
    </ul>
  </div>
</section>
